activity-graph.letterboxd {
  --height: 16px;
  background-color: #14181c;
  border-radius: 0.25em;
  color: #fff;
  display: inline-grid;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  gap: 2px;
  padding: 1em;
}

activity-graph.letterboxd::part(weekday-header),
activity-graph.letterboxd::part(month-header) {
  font-size: 12px;
  font-weight: bold;
}

activity-graph.letterboxd::part(weekday-header),
activity-graph.letterboxd::part(day) {
  height: var(--height);
  line-height: var(--height);
}

activity-graph.letterboxd::part(weekday-header) {
  padding-right: 5px;
}

activity-graph.letterboxd::part(day) {
  border-radius: 0.1em;
  width: var(--height);
}

activity-graph.letterboxd::part(day--nodata) {
  opacity: 0.25;
  background-color: #445566;
}
