activity-graph.serializd {
  --size: 20px;
  background-color: #0d0f12;
  color: #fff;
  display: inline-grid;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  gap: 1px;
  padding: 1em;
}

activity-graph.serializd::part(weekday-header),
activity-graph.serializd::part(month-header) {
  font-size: 12px;
}

activity-graph.serializd::part(weekday-header),
activity-graph.serializd::part(day) {
  height: var(--size);
  line-height: var(--size);
}

activity-graph.serializd::part(weekday-header) {
  padding-right: 5px;
}

activity-graph.serializd::part(day) {
  background-color: #181c20;
  width: var(--size);
}

activity-graph.serializd::part(day--data-1) {
  background-color: rgba(13, 148, 136, 0.4);
}

activity-graph.serializd::part(day--data-2) {
  background-color: rgba(13, 148, 136, 0.6);
}

activity-graph.serializd::part(day--data-3) {
  background-color: rgba(13, 148, 136, 0.6);
}

activity-graph.serializd::part(day--data-4) {
  background-color: rgba(13, 148, 136, 0.8);
}

activity-graph.serializd::part(day--data-5) {
  background-color: rgba(13, 148, 136, 0.8);
}

activity-graph.serializd::part(day--data-6) {
  background-color: rgba(13, 148, 136, 1);
}
